#ContentDivide{
  height: auto;
}

.content {
  margin-left: 25%;
  padding-left: 10px;
  margin-bottom: 1%;
  /*padding-bottom: 1%;*/
  margin-right: 20%; 
  padding-right: 10px; 
  box-shadow: 0px 4px 15px 1px #888888;
  overflow-x: auto;
  height: 100%;
}

@media only screen and (max-width: 580px) {
  /* For mobile phones: */
  .content {
    margin-right: 0px !important;
  }
}

#spacer{
  padding-top: 1%;
}

.pagetitle{
    border-radius: 10px;
    background-color: #edf5e1;
    padding: 0.5%;
    /*padding-right: 8px;*/
    /* This make the text sit left, remove for central text*/
    width: fit-content;
    line-height:0.8;
    text-align: center;
    margin-right: 1px;
  }

.buttons{
    width: 100%;
    height:auto;
    font-size: 18px;
    margin-top: 1%;
    display: inline-block;
  }
  
  .buttons .previous {
    float: left;
    border-radius: 5px;
    padding: 6px;
    background-color: #f1f1f1;
    color: black;
    text-decoration: none;
  }
  
  .buttons .next {
    float: right;
    border-radius: 5px;
    padding: 6px;
    background-color: #04AA6D;
    color: white;
    text-decoration: none;
  }

.intro{ 
    border-radius: 10px;
    margin-top: 1%;
    background-color: #edf5e1;
    padding:6px;
}

.videoContainer{
  margin-top: 1%;
}

.videoContainer .video{
    width: 40%;
    padding-left: 30%;
}

@media only screen and (max-width: 580px) {
  /* For mobile phones: */
  .videoContainer .video {
    width: 100% !important;
    padding-left: 0px !important;
  }
}

.explanation{ 
    border-radius: 10px;
    margin-top: 1%;
    background-color: #edf5e1;
    padding:6px;
}

.explanation ul.useslist{
    clear: left;
}

table {
  border-collapse: collapse;
  margin-bottom: 1%;
}

table td{
  text-align: center;
  border: 1px solid #333;
}

table th{
  text-align: center;
  border: 1px solid #333;
  background-color: gray;
}

