.content {
    margin-left: 250px;
    margin-bottom: 50px;
  }

.title{
    border-radius: 10px;
    margin-top: 1%;
    margin-right: 50px;
    padding-left: 20px;
    background-color: #edf5e1;
    padding:6px;
  }

.intro{ 
    border-radius: 10px;
    margin-top: 2%;
    margin-right: 50px;
    padding-left: 20px;
    background-color: #edf5e1;
    padding:6px;
}

.video{
    text-align: center;
}

.explanation{ 
    border-radius: 10px;
    margin-top: 1%;
    margin-right: 50px;
    padding-left: 20px;
    background-color: #edf5e1;
    padding:6px;
}