body {  
    background-color: #5cdb95;
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    /*Hides bottom scroll bar*/
    overflow-x: hidden
}

h1 {
    color: #edf5e1;
    margin-left: 20px;
  }
