/** {box-sizing: border-box;}*/

body {
  margin: 0;
}

.vertcontainer{
  padding-top: 10%;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: transparent;
}
/* Style the side navigation */
.vertnavbar {
  height: 100%;
  width: 160px;
  z-index: 1;
  /*left: 0;*/
  top: 0;
  background-color: #333;
  overflow-x: hidden;
}

/* Side navigation links */
.list .main a {
  color: #EDF5E1;
  font-size: 24px;
  padding: 16px;
  text-decoration:underline;
  font-weight: bold;
  display: block;
  text-align: center;
} 

.list .sub a{
  color: #EDF5E1;
  padding: 12px;
  text-decoration:none;
  display: block;
  text-align: center;
}

/* Change color on hover */
.list a:hover {
  background-color: #379683;
  color: #EDF5E1;
}

