<body>
    <div class="navbar">
        <div class="logo">
            <a href="../index.html">
                <img src="../temp_logo.png" alt="logo" style="width:100px;height:100px;">
            </a>
        </div>
        <div class="list">
            <id class="main">
                <a href="../pages/MATLABLanding.html">MATLAB</a>
            </id>
            <id class="sub">
                <a href="../pages/syntax.html">Syntax</a>
            </id>
            <id class="sub">
                <a href="../pages/syntax.html">Syntax</a>
            </id>
            <id class="sub">
                <a href="../pages/syntax.html">Syntax</a>
            </id>
            <id class="sub">
                <a href="../pages/syntax.html">Syntax</a>
            </id>

        </div>
    </div>
</body>